* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 160px;
    height: 100vh;
    background-image: url(https://dstraveltur.com.br/images/quemsomos/conheca-ds-travel-tur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    /* font-family: ; */
}

h1 span {
    color: rgb(192, 62, 79);
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    /* opacity: .6; */
}

a:hover,
.btn-secondary {
    text-decoration: none;
    color: white;
    background-color: rgb(192, 62, 79);
}